* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f8fafc;
  color: #1f2933;
}

/* NAVIGATION */
nav {
  background: #0f172a;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-left: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* HERO */
.hero {
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 70px 20px;
}

.hero h1 {
  font-size: 36px;
}

.hero p {
  font-size: 18px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  background: #f59e0b;
  color: black;
  padding: 12px 25px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

/* CONTENT */
.content {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.card {
  background: white;
  padding: 20px;
  margin: 15px 0;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* FOOTER */
footer {
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 15px;
}

/* MOBILE RESPONSIVE */
@media (max-width: 600px) {
  nav ul {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }

  nav ul li {
    margin: 10px;
  }

  .hero h1 {
    font-size: 28px;
  }
}
.main-menu {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.main-menu li {
  margin-left: 15px;
}

.social-link {
  width: 100%;
  text-align: center;
  margin-top: 8px;
}

.social-link a {
  color: #f59e0b;
  font-weight: bold;
  text-decoration: none;
}
.service-buttons {
  margin-bottom: 20px;
}

.service-buttons button {
  background: #0f172a;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.service-buttons button:hover {
  background: #f59e0b;
  color: black;
}

/* Gallery */
.service-gallery {
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.service-gallery img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  }
